@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
@font-face
{
  font-family: times-new-roman-14;
  src: url(_fnt/times-new-roman-14);
}
html, body
{
  margin: 0;
  width: 100%;
  height: 100%;
}
.newspaper {
  /* Old Chrome, Safari and Opera */
  position: relative;
  margin-top: 40vh;
  -webkit-column-count: 3;
  -webkit-column-gap: 40px;
  margin-right: 150px;
  margin-left:150px;
  width: 70vw;
  z-index: 2;
}
.header
{
  z-index: 0;
}
.bg
{
  background-image: url("../_img/n1/dna1.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  transform-style: preserve-3d;
}
.bg::before
{
  content: "";
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
  transform: translateZ(-1px) scale(2);
}
h1{
  font-family: Questrial;
  font-size: 50px;
  text-align: left;
  margin: 0px;
}
p
{
  font-family: times-new-roman-14;
  text-align: justify;
  margin: 2px 0 2px 0px;
}
img
{
  width: 300px;
}