@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@font-face
{
  font-family: times-new-roman-14;
  src: url(_fnt/times-new-roman-14.ttf);
}

a.link1:link{
  color: black;
  text-decoration:none;
}

a.link2:link{
color: white;
text-decoration:none;

}
h1{
  font-style:none;
}
html, main
{
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  height: auto;
  padding: 0;
  background-color:  #333;
}
body{
  background-color: #333;
}
.logo {
  width: 40px;
}
.newspaper {
  /* Old Chrome, Safari and Opera */
  position: relative;
  background-color: #333;
  max-width: 100vw;
  padding: 10px;
  z-index: 2;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.newscontent {
  /* Old Chrome, Safari and Opera */
  color: white;
  background-color: #333;
  max-width: 100vw;
  position: relative;
  -webkit-column-count: 3;
  -webkit-column-gap: 40px;
}

.newscontent1 {
  /* Old Chrome, Safari and Opera */
  color: white;
  background-color: #333;
  max-width: 100vw;
  position: relative;
  -webkit-column-count: 2;
  -webkit-column-gap: 40px;
}
.header
{
  position: fixed;
  perspective:0;
  z-index: 7;
  width: 100%;
}
h2
{
  color: #DDA500;
}
h3{
  color:#DDA500;
}
p
{
  font-family: Roboto;
  text-align: justify;
  margin: 2px 0px 15px 0px;
}
.bgcard
{
  margin: 0;
  right: 4px;
  height: 100%;
  width: 100%;
}
/*
.parallax {

  /* Full height
  height: 100%; 

  /* Create the parallax scrolling effect
  /*background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}*/

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 200px;
}
.wrapper {
  /* O elemento precisa ter uma altura definida para o efeito
  funcionar.
     100vh significa 100% da altura da view.
  */
  height: 100vh;

  /* O tamanho das imagens irá criar uma barra de rolagem 
  horizontal. Iremos desativar isso */
  overflow-x: hidden;

  /* A propriedade perspective indica a "distância" entre o 
  usuário e o plano Z.
  Quanto maior o valor, mais perto o elemento estará do usuário.
  Se for um valor negativo,
  mais distante esse elemento estará.
  */
  perspective: 2px;

  /* O transform-style indica se os elementos filhos devem ser 
  transformados em um plano 2D ou 3D.
  O valor preserve-3d indica que os elementos devem seguir o 
  espaço 3D indicado.
  */
  transform-style: preserve-3d;
}

.section {
  position: relative;
  transform-style: inherit; 
}

.section::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: -1;

  /* Aqui estamos fazendo com que a imagem de fundo cubra todo o
  elemento */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  /* Aqui está a brincadeira. Lembra que o nosso "wrapper" está
  mais próximo do usuário?
  Aqui nós faremos com que o nosso pseudo-elemento, que está com
  a imagem de fundo, fique mais longe do usuário. Para isso, 
  basta passar um valor negativo para "translateZ()".

  Como a imagem irá para longe do usuário, ela parecerá menor. 
  Então usamos o "scale()" para aumentar o tamanho da imagem.

  Como o elemento estará mais longe do usuário, ele irá se mover
  mais lentamente do que os elementos mais próximos conforme 
  a gente role a página.
  */
  transform: translateZ(-1px) scale(1.5);
}
#card
{
  color: #FFFFFF;
  height: 10x;
}

.card
{
  height: 300px;
  overflow-y: hidden;
}

p.card-text{
  color:black;
}

h5.card-title{
  color: #333;
}
.card-body{
  color:#333;
}

.hindex{
  margin-left: 100px;
  margin-right: 100px;
}

.bgparallax {
 
  background-position: center;
  background-attachment: scroll;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.card-img-top{
  background-size: 1000px;
  background-repeat: no-repeat;
  position: relative;/*valor antigo--> relative*/
  background-position-y: 0;
  min-height:150px;
  transition: 1s;
}
.card h5.card-title
{
  
}

.card-title-cont
{
  z-index: 2;
  background-color: white;
  min-height: 30px;
}
.card-img-top:hover{
  min-height:298px;
  transition: 1s;
  background-position-y: center;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.card-deck
{
  margin-top: 100px;
}

.header1
{
  z-index: 0;
}

.cadastro
{
  background-color: #444;
  box-shadow: black 2px 2px 10px;
  margin: 10% auto 0 auto;
  width: 50%;
  border-radius:3rem;
  padding: 30px;
  border: #DDD;
}

.form-row label, .form-group label
{
  color: #FFF;
}